* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #343434;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* App.js-------------------begin */
.app-container {
  display: flex;
  height: 100vh;

}

.navbar-container {
  flex: 1;
  background-color: #242424;
}

.chat-container {
  flex: 5;
}

/* App.js-------------------end */


/* Navbar.js-------------------begin */
.navbar-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-container .titles {
  /* This will make it expand to fill the available space */
  flex: 1;

  /* the scroll appear when height overflows max-height: */
  overflow-y: auto;
}

.navbar-container .footer {
  border-top: #919090 solid .5px;
  text-align: center;
  padding: 10px;
  margin: 8px 8px 0px 8px;
}

.navbar-container .new-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.navbar-container ul li {
  background-color: rgb(94, 92, 92);
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
}

.navbar-container .footer a {
  font-size: large;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
}

/* Navabar.js-------------------end */


/* Chat.js-------------------begin V*/
/* -----chats---- */
.chats-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Ensure the container takes up the full viewport height */
  justify-content: space-between;
  /* Pushes content to the top and bottom */
}


.chats-container header {
  /* the scroll appear when height overflows max-height: */
  text-align: center;
}

.chats-container .chats {
  /* the scroll appear when height overflows max-height: */
  overflow-y: auto;
}

.chats-container .chats .chat-list {
  list-style: none;
  padding: 0;
}


/* -----input---- */
.request {
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  /* Pushes this div to the bottom */
}

/* .request .vocal {
  Add styles for the vocal section 
}*/

.request .form-container {
  flex-grow: 1;
  /* Takes up available vertical space */
  margin-left: 10px;
  /* Add some spacing between vocal and input */
}

form {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  /* Expands to fill the available horizontal space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.btn-submit-container {
  margin-left: 10px;
}

.btn-submit {
  background-color: rgb(25, 195, 125);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: rgb(180, 252, 207) 0.3s;
  cursor: pointer;
}

/* .loading-submit {
  font-weight: bold;
  color: #007bff;
} */

/* Chat.js-------------------end V*/


/* Vocal.js-------------------begin V*/
.vocal-container {
  display: flex;
  align-items: center;
}

/* Button styling */
.vocal-container .btn-icon {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-inline: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.vocal-container .btn-icon:hover {
  background-color: #4b4949;
  /* Add a background color on hover */
}


/* Icon styling */
.vocal-container .icon {
  width: 24px;
  height: 24px;
}

/* Vocal.js-------------------end V*/